<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reservation.reservation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestMap2"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".TestMap"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".finalverification"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".PlaceChooser"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name=".usersignin" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".usersignup" android:screenOrientation="portrait"/>
        <activity android:name=".verify" android:screenOrientation="portrait"/>
        <activity android:name=".verify2" android:screenOrientation="portrait"/>
        <activity android:name=".Successfull" android:screenOrientation="portrait"/>
        <activity android:name=".test_map_admin"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PlaceChooserAdmin" android:screenOrientation="portrait" />
        <activity android:name=".Overview" android:screenOrientation="portrait"></activity>
    </application>

</manifest>